---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
$brand-color:      #27ae60;
$heading-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

@import "minima";

h1 {
  font-size: 36px;
}

.warning{
  color:  red;
}

.site-header{
  background-color: $brand-color;
}

.site-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #FFFFFF;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-family;
    font-weight: 700;
    color: $brand-color;
}
